/* generics */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* contents */

.squares-container {
    padding: 30px 0px 0px 30px;
    background-color: #083b4c;
}

.squares-grid {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.squares-grid div {
    width: 90px;
    height: 90px;
    border: 3px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 5px;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-white {
    background-color: #fff;
}

.bg-yellow {
    background-color: yellow;
}

/* effects */

.squares-grid div:hover {
    transform: scale(1.15);
    background-color: orangered;
    animation: spin 0.3s linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}